<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" routerLink="/">AgileBoard</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      <a class="nav-item nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
      <a class="nav-item nav-link"  routerLink="/board" routerLinkActive="active">Board</a>
      <a class="nav-item nav-link"  routerLink="/admin" routerLinkActive="active">Admin</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#" target="_blank"><i class="fab fa-github"></i></a>
      <a class="nav-item nav-link" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
      <a class="nav-item nav-link" href="#" target="_blank"><i class="fab fa-medium"></i></a>
    </div>
  </div>
</nav>
