<mat-card class="login-form">
  <mat-card-title>User Login</mat-card-title>
  <mat-card-content>
    <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="userLoginForm" (ngSubmit)="login()">
      <mat-form-field class="full-width">
        <input type="email" id="email" class="input" placeholder="Email Address"
               formControlName="email" required matInput />
      </mat-form-field>
      <div *ngIf="formErrors.email" class="help is-danger">
        {{ formErrors.email }}
      </div>
      <mat-form-field class="full-width">
        <input type="password" id="password" class="input" placeholder="Password" matInput />
      </mat-form-field>
      <div *ngIf="formErrors.email" class="help is-danger">
        {{ formErrors.password }}
      </div>
      <button mat-raised-button  color="primary" type="submit" [disabled]="!userLoginForm.valid" (click)="login()">Login</button>
    </form>
  </mat-card-content>
</mat-card>
