<nav class="bg-dark mt-5 fixed-bottom">
  <div class="d-flex">
    <div class="mr-auto text-muted p-2">
      Agile-Board - Pet Project
    </div>
    <div class="p-2">
      <a class="btn btn-link btn-sm text-muted" href="https://github.com/ahmedabadawi/" target="_blank"><i class="fab fa-github"></i></a>
      <a class="btn btn-link btn-sm text-muted" href="https://se.linkedin.com/in/ahmedabadawi" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a class="btn btn-link btn-sm text-muted" href="https://stackoverflow.com/story/abadawi" target="_blank"><i class="fab fa-stack-overflow"></i></a>
    </div>
  </div>
</nav>
