<footer class="md-padding">
  <div flex>
    <div class="mr-auto">
      Agile-Board - Pet Project
    </div>
    <div>
      <a class="btn btn-link btn-sm text-muted" href="https://github.com/ahmedabadawi/" target="_blank"><i class="fab fa-github"></i></a>
      <a class="btn btn-link btn-sm text-muted" href="https://se.linkedin.com/in/ahmedabadawi" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a class="btn btn-link btn-sm text-muted" href="https://stackoverflow.com/story/abadawi" target="_blank"><i class="fab fa-stack-overflow"></i></a>
    </div>
  </div>
</footer>
