<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input type="number" id="id" class="input" placeholder="User Id"
           formControlName="id" required matInput readonly />
  </mat-form-field>

  <mat-form-field>
    <input type="email" id="email" class="input" placeholder="Email Address"
           formControlName="email" required matInput />
  </mat-form-field>
  <mat-form-field>
    <input type="text" id="firstName" class="input" placeholder="First Name"
           formControlName="firstName" required matInput />
  </mat-form-field>
  <mat-form-field>
    <input type="text" id="lastName" class="input" placeholder="Last Name"
           formControlName="lastName" required matInput />
  </mat-form-field>
  <button mat-raised-button  color="primary" type="submit" [disabled]="!userForm.valid">Save</button>
  <button mat-raised-button  type="button" (click)="cancel()">Cancel</button>
</form>
