@import "_variables.scss";

.table-header {
  padding: 0 5px;
}

.table-container {
  padding: 5px 15px 15px 15px;
}

.table-component-holder {
  border: 1px solid;
}

.mat-form-field {
  font-size: 14px;
  padding: 0 10px;
  width: 100%;
}
