.container {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container .mat-drawer {
  min-width: 200px;
}

.container .mat-drawer .mat-button {
  display: block;
  width: 100%;
  text-align: left;
}

.spacer {
  flex: 1 1 auto;
}

.avatar {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.avatar-mid {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.sidenav-content {
  width: 100%;
  height: 100%;
}

.main-content {
  width: 100%;
  height: 100%;
}
