<h1>Kanban Board</h1>

<div class="board">
  <div class=" mat-elevation-z4 board-column">
    <mat-toolbar>
      <h5 class="mat-title">Backlog</h5>
    </mat-toolbar>
    <app-board-item *ngFor="let item of backlogItems" [item]="item"></app-board-item>
  </div>
  <div class=" mat-elevation-z4 board-column">
    <mat-toolbar>
      <h5 class="mat-title">Blocked</h5>
    </mat-toolbar>
    <app-board-item *ngFor="let item of blockedItems" [item]="item"></app-board-item>
  </div>
  <div class="mat-elevation-z4 board-column">
    <mat-toolbar>
      <h5 class="mat-title">In Progress</h5>
    </mat-toolbar>
    <app-board-item *ngFor="let item of inProgressItems" [item]="item"></app-board-item>
  </div>
  <div class=" mat-elevation-z4 board-column">
    <mat-toolbar>
      <h5 class="mat-title">Done</h5>
    </mat-toolbar>
    <app-board-item *ngFor="let item of doneItems" [item]="item"></app-board-item>
  </div>
</div>
